.container {
  padding: 20px;
  max-width: 100%;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  min-width: 100px;
  font-size: 1rem;
}

.button {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4338ca;
}

.addButton {
  background-color: #10b981;
}

.addButton:hover {
  background-color: #059669;
}

.table {
  width: 100%;
  border-collapse: collapse;
  /* background: white; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #0ac5b2;
}

.table tr:nth-child(even) {
  background-color: #fafafa;
}

.table tr:hover {
  background-color: #e6f7ff;
}

.pagination {
  margin-top: 16px;
  display: flex;
  gap: 12px;
  font-family: Arial, sans-serif;
}

.pageButton {
  background-color: #4f46e5;
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.pageButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pageButton:hover:not(:disabled) {
  background-color: #4338ca;
}

.pageInfo {
  font-weight: bold;
  font-size: 1rem;
}

.actionButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 8px;
  transition: color 0.2s ease;
}
